@charset "UTF-8";

* {
  font-size: 1.1vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.sideBar {
  width: 20%;
  height: 100vh;
}

.head-of-sidebar {
  height: 5vh;
}

.nav-sidebar {
  height: 6vh;
}

.item-sideBar {
  height: 89vh;
}

.item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}