@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  font-size: 1.1vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.figures {
  color: #949494;
}

.sideBar {
  width: 20%;
  height: 100vh;
  padding: 2vh 3vh 3vh 3vh;
  overflow: hidden;
  position: relative;
}

.nav-sidebar {
  max-height: 5vh;
  margin-top: 1vh;
}

.item-sideBar {
  height: 89vh;
}

.hide {
  display: none;
}

/*================headOfSideBar===================*/
.head-of-sidebar {
  height: 2.5vh;
}
.head-of-sidebar .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.head-of-sidebar .img-logo {
  display: flex;
  justify-content: flex-start;
  width: 75%;
}
.head-of-sidebar .img-logo img {
  width: 80%;
  height: 100%;
}

/*================main information===================*/
.item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.ts-title {
  display: flex;
  margin-top: 1.5vh;
  margin-bottom: 1.2vh;
}
.ts-title span.img {
  display: flex;
  align-items: center;
}
.ts-title span.img img {
  height: 1.5vh;
}
.ts-title span.ts-text {
  font-size: 1.5vh;
  font-weight: bold;
  color: #79849F;
  margin-left: 15px;
}

.request-title {
  display: flex;
  margin-top: 2.2vh;
  margin-bottom: 1.2vh;
}
.request-title span.img {
  display: flex;
  align-items: center;
}
.request-title span.img img {
  height: 1.5vh;
}
.request-title span.text {
  font-size: 1.5vh;
  font-weight: bold;
  color: #79849F;
  margin-left: 15px;
}

.indicators-title {
  display: flex;
  margin-top: 2.2vh;
  margin-bottom: 1.2vh;
}
.indicators-title span.img {
  display: flex;
  align-items: center;
}
.indicators-title span.img img {
  height: 1.5vh;
}
.indicators-title span.text {
  font-size: 1.5vh;
  font-weight: bold;
  color: #79849F;
  margin-left: 15px;
}

.item-bar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-bar .ilia {
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-bar .circle-block {
  width: 6.5vh;
  margin-left: 0 !important;
  height: 6.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-bar {
  position: absolute;
}

.indic-bot {
  margin-top: 3.5vh;
  display: flex;
  justify-content: flex-start;
}
.indic-bot:first-child {
  margin-left: 0;
}
.indic-bot .div-meanings {
  margin-left: 3vh;
}

.div-bar-text {
  margin-left: 40px;
}

/*==================ts-data======================*/
.title-ts-text {
  font-size: 1.1vh;
  display: block;
  line-height: 1;
}

.text-ts {
  display: block;
  position: relative;
  font-size: 1.4vh;
  font-weight: bold;
}
.text-ts.cross-out {
  text-decoration: line-through;
}
.text-ts.blue-color {
  color: #004781;
}

.list li {
  margin-top: 0.6vh;
  list-style-type: none;
}
.list li .car-baloon img {
  width: 2vh;
  margin-right: 2vh;
}

.isDisabled {
  pointer-events: none;
}

.active-transport {
  background-color: #004781 !important;
  color: white !important;
}
.active-transport .transport-title p {
  color: white !important;
}

.item-ts-data {
  margin-top: 2.2vh;
}

.ts-hr {
  margin-top: 2.6vh;
  margin-bottom: 2.6vh;
  width: 90%;
}

.dada-ts-item {
  width: 170px;
}

@media screen and (min-width: 3000px) {
  .dada-ts-item {
    min-width: 350px;
    margin-right: 1.2vh;
  }
}
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.title-ts {
  display: flex;
  flex-direction: row;
  margin-top: 1.5vh;
}
.title-ts .title-ts-text {
  font-size: 14px;
}

.text-level-menu {
  cursor: pointer;
}
.text-level-menu:hover {
  text-decoration: underline;
}

#start_time_plan::after {
  content: "план";
  position: absolute;
  left: 0;
  bottom: -10px;
  color: #c1c1c1;
  font-weight: normal;
  font-size: 1.1vh;
}

#start_time_fact {
  margin-left: 1vh;
}

#start_time_fact::after {
  content: "факт";
  position: absolute;
  left: 0;
  bottom: -10px;
  color: #c1c1c1;
  font-weight: normal;
  font-size: 1.1vh;
}

#work_time_plan::after {
  content: "план";
  position: absolute;
  left: 0;
  bottom: -10px;
  color: #c1c1c1;
  font-weight: normal;
  font-size: 1.1vh;
}

#work_time_fact::after {
  content: "факт";
  position: absolute;
  left: 0;
  bottom: -10px;
  color: #c1c1c1;
  font-weight: normal;
  font-size: 1.1vh;
}

.icon-ts {
  width: 2.5vh;
  text-align: center;
}
.icon-ts img {
  height: 1.8vh;
  margin-top: 3px;
}

.fuel-time-end {
  margin-left: 3vh;
}

.item-ts-text {
  margin-left: 1.5vh;
}

.transport-title .span-h3-filial img {
  width: 1.5vh;
}
.transport-title .p-type-transport {
  font-size: 1.5vh;
  margin-left: 1vh;
}

.header-ts-info #nameTS {
  color: #005498;
  margin-left: 1.5vh;
  font-weight: bold;
  font-size: 1.4vh;
}
.header-ts-info #number {
  display: inline-block;
  padding: 0.25vh 0.5vh 0.25vh 0.5vh;
  border: 1px solid black;
  color: black;
  margin-left: 1.5vh;
  font-weight: bold;
  font-size: 1.4vh;
}
.header-ts-info #year {
  color: black;
  margin-left: 1.5vh;
  font-weight: bold;
  font-size: 1.4vh;
}

.transport-department {
  cursor: pointer;
}
.transport-department.activeTransport {
  background-color: #004781 !important;
  color: white !important;
  padding: 5px;
  border-radius: 4px;
}
.transport-department.activeTransport .transport-title p {
  color: white !important;
}

/*=========================sideBar============================*/
.item-navbar {
  cursor: pointer;
  color: #909090;
}

.arr-nav-sideBar {
  margin: 0 0.45vh 0 0.45vh;
  height: 0.7vh;
}

.overlay_block {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://web-finder.ru/files/preloader1.gif") center center no-repeat;
  z-index: 9999;
  top: 0;
  left: 0;
}

.loading_process {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.main_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9998;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=SideBar.css.map */
